# MANAGED_BY_ANSIBLE
data_dir   = "{{nomad_lib_dir}}"
datacenter = "{{consul_datacentre}}"

client {
  enabled          = true
  servers          = [
{% for ip in nomad_servers %}
    "{{ip}}:4647"{{ "," if not loop.last else "" }}
{% endfor %}
  ]
{% if hostvars[inventory_hostname]['datadog'] is defined %}

  meta {
{% for key, value in hostvars[inventory_hostname]['datadog'].items() %}
    "{{key}}" = "{{value}}"
{% endfor %}
  }
{% endif %}
}

{% if nomad_vault_active %}
vault {
  address = "{{nomad_vault_scheme}}://{{nomad_vault_addr}}"
  enabled = true
}
{% else %}
# nomad_vault_active is false
{% endif %}

{% if nomad_allow_raw_exec %}
plugin "raw_exec" {
  config {
    enabled = true
  }
}
{% else %}
# nomad_allow_raw_exec is false
{% endif %}

# end
